@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');
/* body 
{
     background: url('../../assets/imagenes/fondo_paciente.png')
    no-repeat   fixed; 
    backdrop-filter: blur(0.4rem);
} */

/* :root
{
    --color-bg-calendar: #1b1e22;
    --color-cell: #e3e3e3;
    --color--cell-disabled: #424642;
}

.root
{
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
}

.calendar
{
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    font-family: sans-serif;
}

.calendar__header
{
    color: white;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.control
{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.grid__header, .grid__body
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header
{
    color: white;
    margin-bottom: 20px;
}

.grid__body
{
    grid-auto-rows: 40px;
    color: var(--color-cell);

}

.grid__cell
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd
{
    cursor: pointer;
}

.grid__cell--selected
{
    color: var(--color-bg-calendar);
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled
{
    color: var(--color--cell-disabled);
    cursor: not-allowed;
}

.calendario
{
    position: absolute;
    left: 35%;
    top: 10%;
} */ 


.espe_agendar
{
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 2;
}

.seleccionar
{
    position: absolute;
    top: 38%;
    left: 23%;
    border-radius: 3px;
    z-index: 2;
}

.margen
{
    position: absolute;
    border: 1px solid rgba(3, 77, 174, 1);
    width: 60%;
    height: 60%;
    margin-top: 40%;
    margin-left: 60;
    z-index: 1;
    border-radius: 20px;
}

.agendar
{
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 5%;
}

#calen
{
    position: absolute;
    top: 50%;
    left: 23%;
    z-index: 2;
}

.text_fecha
{
    position: absolute;
    top: 45%;
    left: 23%;
}

.linea{
    width: 2px; 
    height: 40.1%; 
    background-color: rgba(3, 77, 174, 1);
    position: absolute;
    left: 50%; 
    top: 25%;
    transform: translateX(-50%); 
}
.hora_dispo
{
    position: absolute;
    top: 30%;
    left: 52%;
}


.contenedor {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  }
.contenido {
    flex-grow: 1;
    margin-top: 50%;
    margin-left: 50px; /* El contenido ocupará todo el espacio disponible */
  }

.box_agendar
{
    background-color: white;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(3, 77, 174, 1);
    margin-bottom: 1px;
    border: 1px solid rgba(3, 77, 174, 1);
    
}

.cuad
{
    position: absolute;
    top: 30%;
    left: 53%;
    width: 30%;
}

.cuad1 {
    display: flex;
    flex-direction: column; /* Alinea los grupos de dos elementos en columnas */
    gap: 20px; /* Espacio entre grupos */
    margin-left: 30px; /* Ajusta el margen izquierdo según tu preferencia */
  }
  
  .grupo {
    display: flex;
    gap: 20px; /* Espacio entre elementos dentro del grupo */
  }

.hora 
{
    display: flex; 
    width: 50%;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    
}

#save 
{
    background-color: transparent;
    border: 2px solid rgba(3, 77, 174, 1); /* Cambia el grosor y el color del borde */
    border-radius: 5px; /* Cambia el radio del borde para que sea más redondeado */
    /* Otros estilos de botón, como color de fondo, color de texto, etc. */
    position: absolute;
    top: 60%;
    left: 23%;
    z-index: 9999;
}