.tittle
{
    text-align: center;
}

.box
{
    position: absolute;
    height: 50%;
    width: 60%;
    left: 19%;
    border: 1px solid rgba(3, 77, 174, 1);
}

.name
{
    position: absolute;
    top: 1%;
    left: 5%;
}

.date
{
    position: absolute;
    top: 1%;
    left: 60%;
}

.doctor
{
    position: absolute;
    top: 30%;
    left: 5%;
}

.service
{
    position: absolute;
    top: 30%;
    left: 60%;
}

.place
{
    position: absolute;
    top: 55%;
    left: 5%;
}