.fondonav{
    background-image: url('../../assets/imagenes/fondo_nav.jpg') ;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
   width: 100%;
}
.wspLink img{
   width: 90px;
}
.wspLink{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 999; 
}
ul{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    margin-right:2px;
    display: flex;
    list-style: none;
    
}
ul li{
   padding:20px;
    margin-right: 70px;
    font-size: 30px;
    
}
.nav_options img{
    padding-right: 7px;
    margin-right: 170px;
  
}
ul li a{
    text-decoration: none;
    color:black;

}
.iniciar_sesion{
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 200px;
    cursor: pointer;
}


.info-container{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 20px;
}
.mision{
width: 570px;
margin-right: 80px;
border-radius: 35px;
border-width: 0px 0.2px 2px;
border-style: none solid solid;
border-color: transparent #034DAE #034DAE;
box-shadow: 0px 0.5px 3px #034DAE;

}
.mision h3{
    margin-top: 30px;
 justify-content: center;
 text-align: center;   
 font-size: 30px;
 color:#034DAE;
}
.mision p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    margin-top: 40px;
    
}
.vision{
    width: 570px;
margin-right: 80px;
border-radius: 35px;
/* border: 0px 0px 40px  #034DAE; */
border-width: 0px 0.5px 2px;
border-style: none solid solid;
border-color: transparent #034DAE #034DAE;
box-shadow: 0px 1px 3px #034DAE;

}
.vision p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    margin-top: 40px;
    
}
.vision h3{
    margin-top: 30px;
 justify-content: center;
 text-align: center;   
 font-size: 30px;
 color:#034DAE;
}
.objetivo{
    width: 570px;
margin-right: 80px;
border-radius: 35px;
margin-left: 400px;
border-width: 0px 0.5px 2px;
border-style: none solid solid;
border-color: transparent #034DAE #034DAE;
box-shadow: 0px 1px 3px #034DAE;
}

.objetivo p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    margin-top: 10px;
}
.objetivo h3{
    margin-top: 35px;
 justify-content: center;
 text-align: center;   
 font-size: 30px;
 color:#034DAE;
}

.registro_pacientes{
    display: flex;
margin-left: 120px;
margin-top: 50px;
}
.pacientes{
    margin-right: 100px;
    border-width: 0px 0.5px 2px;
    border-style: none solid solid;
    border-color: transparent #034DAE #034DAE;
    box-shadow: 0px 1px 3px #034DAE;
    width: 300px;
    border-radius: 20px;
}
.pacientes h3{
    text-align: center;
    font-size: 20px;
    color:#034DAE;
}

.psico_esp{
    margin-right: 100px;
    border-width: 0px 0.5px 2px;
    border-style: none solid solid;
    border-color: transparent #034DAE #034DAE;
    box-shadow: 0px 1px 3px #034DAE;
    width: 300px;
    border-radius: 20px;
}

.psico_esp h3{
    text-align: center;
    font-size: 20px;
    color:#034DAE;
}

.rehab{
    margin-right: 100px;
    border-width: 0px 0.5px 2px;
    border-style: none solid solid;
    border-color: transparent #034DAE #034DAE;
    box-shadow: 0px 1px 3px #034DAE;
    width: 300px;
    border-radius: 20px;
}
.rehab h3{
    text-align: center;
    font-size: 20px;
    color:#034DAE;
}

.servicios-container{
    display: flex;
    margin-left: 45px;
   margin-right: 2px;
}
.servicio1{
width: 250px;
margin-right: 160px;


}
.servicio2{
    width: 250px;
    margin-right: 180px;
        
}
.servicio3{
    width: 250px;
    margin-right: 20px;

}
.servicio3 p{
    position: absolute;
    margin-top: 0;
    top: 2080px;
    right: 60px;
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.servicio2 p{
    position: absolute;
    margin-top: 0;
    top: 2080px;
    right: 480px;
    font-size: 40px;
    font-weight: bold;
    color:white;
}
.servicio1 p{
    position: absolute;
    margin-top: 0;
    top: 2040px;
    right: 1000px;
    font-size: 40px;
    font-weight: bold;
    color:white;
    text-align: justify;
    width: 100px;
}
.sombra{
    position: absolute;
    top: 1660px;
}
.sombra2{
    position: absolute;
    top: 1660px;
    right: 460px;
    width: 396px;
    height: 505px;
}
.sombra3{
    position: absolute;
    top: 1660px;
    right: 42px;
    width: 384px;
    height: 505px;
}
.servicios_titulo{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.boton_servicio{
    margin-left: 40%;
    margin-top: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 30px;
    height: 60px;
    border-width: 0px 0.5px 2px;
    border-style: none solid solid;
    border-color: transparent #034DAE #034DAE;
    box-shadow: 0px 1px 3px #034DAE;
    background-color: white;
    font-weight: bold;
    color:#034DAE;
    cursor: pointer;
    text-decoration: none;
}


/* Equipo  */

.equipo-container{
    display: flex;
    margin-left: 95px;
   margin-right: 2px;
}
.equipo-titulo{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    
}

.psico1{
    width: 250px;
margin-right: 160px;

}
.psico2{
    width: 250px;
    margin-right: 180px;
}
.psico3{
    width: 250px;
    margin-right: 20px;

}
.boton_equipos{
    margin-left: 40%;
    margin-top: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 30px;
    height: 60px;
    border-width: 0px 0.5px 2px;
    border-style: none solid solid;
    border-color: transparent #034DAE #034DAE;
    box-shadow: 0px 1px 3px #034DAE;
    background-color: white;
    font-weight: bold;
    color:#034DAE;
    cursor: pointer;
    text-decoration: none;
}

.convenios-titulo{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}
.convenios_container{
    display: flex;
    margin-left: 45px;
   margin-right: 2px;
   border-width: 0px 0.5px 2px;
   border-style: none solid solid;
   border-color: transparent #034DAE #034DAE;
   box-shadow: 0px 1px 3px #034DAE;
   background-color: white;
   border-radius: 40px;
}
.convenios_container img{
    margin-top: 40px;
}
.c1{

   margin-left: 100px;
    width: 200px;
}
.c2{
    width: 340px;
}
.c3{
    width: 250px;
}
.footer-container{
  margin-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #7cacea,#ffff, #3bca76 );
 
}
.footer-container .logo{
    margin-top: 90px;
    padding: 40px;
    width: 300px;
}
.footer-container .celular{
  width: 40px;
  height: 40px;
    margin-top: 100px;
    margin-left: 150px;
}
.cel_p{
    margin-top: 110px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    height: 10px;
}
.footer-container .correo{
    width: 40px;
    height: 30px;
    margin-top: 110px;
    margin-left: 60px;
}
.correo_p{
    margin-top: 110px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.direccion{
    width: 40px;
    height: 40px;
    margin-top: 210px;
    position: absolute;
    margin-left: 530px;
}

.dir_p{
    position: absolute;
    margin-top: 215px;
    margin-left: 570px;
    font-size: 20px;
    font-weight: bold;
}


