.head{
    background-color: #D7D7D7;
height: auto;
}
.op{
    width: 207px;
    background-color: #D7D7D7;
    height: 620px;
    margin-top: 0;
    position: sticky;
}

.container{
    display: flex;
}

.op1{
    margin-top: 60px;
    list-style: none;
}


.op2{
    text-decoration: none;
width: 90px; 
color:black;
margin-left: 20px;
margin-top: 20px;

}
.vista img{
    height: 520px;
    margin-left: 160px;
}



